.navbarBlur {
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px; */
    /* background-color: rgba(10, 10, 10, 0.417); */
  
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  